<%inherit file="base.htm" />

<title>products</title>

<%block name="content">
<div class="item_container text-center text-muted">
    <img src="${ STATIC_URL }homepage/media/Colonial Hat.jpg/"/>
    <div>Colonial Hat</div>
    <div>$20.99</div>
    <div class="text-center">
        <button class="add_button btn btn-xs btn-warning">Add to Cart</button>
    </div>
</div>
    Imagine a life where you no longer need to worry about being single or trying everything possible to catch that special girl's eye. This hat is basically a cheat code to life. The only problem you may have is lack of oxygen with so many ladies around you trying to get to know the mysterious man with the beautiful colonial hat.






</%block>