## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8" >
  <meta name="description" content="The Colonial Heritage Foundation is an educational group organized in order to increase education and appreciation for the history of the United States of America. The foundation features history reenactments, exhibits and items for sale">
  <meta name="keywords" content="history, reenactment, purchase, colonial, festival, revolutionary, America, gifts, educational"
  <head>


    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>

    <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">



    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }
  
  </head>


  <body>


<nav class="navbar navbar-inverse">

      <h5 class="navbar-text">Colonial Heritage Foundation</h5><br><br><br>

        <div name = "links" class="nav nav-pills nav-justified">
            <li role="presentation"><a href="http://localhost:8000/homepage/index" class="glyphicon glyphicon-home"> Home</a>
            <li role="presentation"> <a href="http://localhost:8000/homepage/contact" class="glyphicon glyphicon-envelope"> Contact</a>
            <li role="presentation"><a href="http://localhost:8000/homepage/terms" class="glyphicon glyphicon-book"> Terms</a>
            <li role="presentation"><a href="http://localhost:8000/homepage/about" class="glyphicon glyphicon-list-alt"> About</a>
            %if request.user.is_authenticated():

                <li role="presentation"><a id="show_logout_dialog"> Logout</a>
                <li role="presentation"><a id="cart"> Shopping Cart</a>
            %else:
                <li role="presentation"><a id="show_login_dialog">Login</a>
                <li role="presentation"><a href="http://localhost:8000/homepage/createaccount.create/" class="glyphicon glyphicon-plus-sign"> Create Account</a>
            %endif


        </div>
</nav>

<!--% if request.user.is_staff:-->
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
        %if request.user.is_authenticated():

            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
             Edit
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a href="http://localhost:8000/homepage/users" class="glyphicon glyphicon-user"> Users</a>
                <li role="presentation"><a href="http://localhost:8000/homepage/agents" class="glyphicon glyphicon-star"> Agents</a>
                <li role="presentation"><a href="http://localhost:8000/homepage/roles" class="glyphicon glyphicon-star-empty"> Roles</a>
                <li role="presentation"><a href="http://localhost:8000/homepage/events" class="glyphicon glyphicon-bullhorn"> Events</a>
                <li role="presentation"><a href="http://localhost:8000/homepage/product" class="glyphicon glyphicon-gift"> Products</a>
                <li role="presentation"><a href="http://localhost:8000/homepage/saleitems" class="glyphicon glyphicon-shopping-cart"> SaleItems</a>
                </ul>
            </div>
<!--%endif-->
        %endif
            <li role="presentation"><a href="http://localhost:8000/homepage/productcatalog" class="glyphicon glyphicon-gift"> Products Available</a>
            <!--<li role="presentation"><a href="http://localhost:8000/homepage/productlist" class="glyphicon glyphicon-gift"> Product List</a>-->
            <li role="presentation"><a href="http://localhost:8000/homepage/festivals" class="glyphicon glyphicon-leaf"> Festivals</a>
            %if request.user.is_authenticated():
            <li role="presentation"><a href="http://localhost:8000/homepage/myaccount" class="glyphicon glyphicon-user"> My Account</a>
            <li role="presentation"><a href="http://localhost:8000/homepage/batchprocess" class="glyphicon glyphicon-exclamation-sign"> Overdue Rentals</a>
            <li role="presentation"><a href="http://localhost:8000/homepage/rentalreturn" class="glyphicon glyphicon-random"> Rental Return</a>
            %endif

        </ul>
     </div>


    <div class="col-md-10">
        <%block name="content">
        <title>homepage</title>
            <div class="row">

             <div >

            Site content will go here

             </div>
            </div>


         </%block>
    </div>
  </div>
  </body>
</html>

 ## render the JS with the same name as this page
${ static_renderer.get_template_js(request, context)  }