<%inherit file="base.htm" />

<%block name="content">

  <form method="POST">
    You will need to log back in after you change your password
      <table>
        ${ form }
      </table>



    <button type="submit" class="btn btn-primary">Submit</button>
      %if request.user.is_authenticated():
        <a href ="/homepage/myaccount.delete/${ user.id }/" class="btn btn-danger">Delete</a>
      %else:
        <a href ="/homepage/myaccount.delete/${ user.id }/" class="btn btn-danger">Cancel</a>
      %endif

  </form>

</%block>