<%inherit file="base.htm" />

<%block name="content">

<title>Products Available</title>
<h6>Items for Purchase</h6>
<table id="rentals_table" class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
%for Product in catalog_items:
  <tr>

        <td><a href = "/homepage/${Product.id }/">${Product.name}</a></td>
    <td><center><img src="${ STATIC_URL }homepage/media/${ Product.name}.jpg/" height="150" /></center></td>
    <td>${ Product.price }</td>
    <td>${ Product.description }</td>
    <td><input id="qty${ Product.id }"type = "number" name="Quantity" min="1" value="1" max="400"/></td>
    <td><button data-pid="${ Product.id }" class="add_button btn btn-xs btn-warning">Add to Cart</button></td>
  </tr>
%endfor
    </table>
<br>
<br>
<br>
<br>
<br>
<br>

<h6>Items for Rental</h6>
<table id="rentals_table" class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Price Per Day</th>
        <th>Replacement Price</th>
        <th>Days</th>
        <th>Action</th>
    </tr>
%for rental in rentals:
  <tr>

    <td><a href = "/homepage/rentals.detail/${ rental.id }/">${rental.name}</a></td>
    <td><center><img src="${ STATIC_URL }homepage/media/${ rental.name}.jpg/" height="150" /></center></td>
    <td>${rental.price_per_day} </td>
    <td>${rental.replacement_price} </td>
    <td><input id="qty${ rental.id }"type = "number" name = "qty" value ="1" min="1" max="400"/></td>
    <td><button data-pid="${ rental.id }" class="add_button btn btn-xs btn-warning">Add to Cart</button></td>
  </tr>
%endfor
</table>
</%block>











