<%inherit file="base.htm" />

<title>Rental Return</title>

<%block name="content">
<form action="/homepage/rentalreturn/" method="POST">
    <h3>Rentals Currently Out:</h3>
    <table class="table-hover">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Renter:&nbsp;</td>
            <td>Rental ID:&nbsp;&nbsp;</td>
            <td>Product:&nbsp;</td>
            <td>Amount:&nbsp;</td>
            <td>Date Out:&nbsp;</td>
            <td>Date Due:&nbsp;</td>
        </tr>
    % for Rented_Item in rentalsout:

      <tr>
          <th><button type="submit" class="btn btn-warning">Return</button></th>
          <th>&nbsp;</th>
          <th>${ Rented_Item.renter }&nbsp;</th>
          <th>${ Rented_Item.rentalid }&nbsp;</th>
          <th>${ Rented_Item.rental_product }&nbsp;</th>
          <th>${ Rented_Item.amount }&nbsp;</th>
          <th>${ Rented_Item.date_out }&nbsp;</th>
          <th>${ Rented_Item.date_due }&nbsp;</th>
          <th></th>
      </tr>
    % endfor

    </table>
</form>

</%block>