<%inherit file="base.htm" />

<%block name="content">

<title>Rev Era Festival</title>
<h1>The Revolutionary Era Reenactment</h1>
<h2> This event is perfect for all ages. Admission is free, so come have a fun time as you learn and gain a greater appreciation for those who came before us!</h2>
<br>

<table id="rentals_table" class="table table-condensed">
    <tr>
        <th><img src="${ STATIC_URL }homepage/media/${ events.name }.jpg/"/></th>
        <th>

            ${ events.name }</div>
            <div>${ events.location }</div><br>
            <div>Event Start on: ${ events.start_date }</div>
            <div>Event Ends on: ${ events.end_date }</div><br>
            <div>${ events.description }</div>
            <div class="text-right"></div>

        </th>
    </tr>
</table>



<br>
<br>


<table id="rentals_table" class="table table-striped table-bordered">
    <tr>
        <th>Area Name</th>
        <th>Photo</th>
        <th>Description</th>
        <th>Expected Sale Items</th>
    </tr>
 %for Area in areas:
  <tr>
    <td>Area: ${ Area.aname }</td>
    <td><center> <img src="${ STATIC_URL }homepage/media/${ Area.aname }.jpg/"/></center></td>
    <td>${ Area.description } </td>
    <td>
      %for Expected_Sale_Item in esi:
                        % if Area.aname == Expected_Sale_Item.area.aname:
                                <a href="http://localhost:8000/homepage/productcatalog/">
                                <img src="${ STATIC_URL }homepage/media/${ Expected_Sale_Item.name }.jpg/"/>
                                <div>${ Expected_Sale_Item.name }</div>
                                <div>${ Expected_Sale_Item.description }</div>
                                    </a>
                                <div>Low Estimate: ${ Expected_Sale_Item.low_price }</div>
                                <div>High Estimate: ${ Expected_Sale_Item.high_price }</div>

                        % endif
                    %endfor
      </td>

  </tr>
%endfor
</table>

</%block>