<%inherit file="base.htm" />

<%block name="content">

<title>Sale Items</title>


<div class="clearfix"></div>
<div class="text-right">
    <a href="/homepage/saleitems.create/" class="btn btn-warning">Create New Sale Item</a>
</div>

 <table id="saleitems_table" class ="table table-striped table-bordered table-hover">
  <tr>
      <th>Sale Item</th>
      <th>Description</th>
      <th>Low Price</th>
      <th>High Price</th>
      <th>Area</th>
  </tr>
  %for Expected_Sale_Item in saleitems:
    <tr>
      <td> ${ Expected_Sale_Item.name }</td>
      <td> ${ Expected_Sale_Item.description }</td>
      <td> ${ Expected_Sale_Item.low_price }</td>
      <td> ${ Expected_Sale_Item.high_price }</td>
      <td> ${ Expected_Sale_Item.area }</td>
      <td>
          <a href="/homepage/saleitems.edit/${ Expected_Sale_Item.id }/">Edit</a>
      </td>
    </tr>
  %endfor
 </table>

</%block>

